<h1>New Booking</h1>
<div class="container">
  <%= simple_form_for [@location, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :cost %>
    <%= f.submit 'Request Booking', class: "btn btn-primary" %>
  <% end %>
</div>
