
  <form novalidate="novalidate" class="simple_form search" action="/" accept-charset="UTF-8" method="get">
  <div class="search-form-control form-group">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
</form>

<%# <div class="main-content">
  <div class="listing-card">
    <img src="<%= asset_path('location-1.jpg') %><%#" alt="image of location">
  </div>
  <div class="location-details">
    <div class="location-title">Cool Spot</div>
    <div class="location-description">bla bla bla</div>
  </div>
</div> %>

    <div class="main-content">
        <div class="row g-4 align-items-stretch">

            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('lisbon.jpg') %>" alt="Image of Location 1" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 1" data-turbo-frame="_top" href="/location-1">Lisbon</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Dec 4, 2023</span></p>
                    </div>
                </div>
            </div>


            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('vienna.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Vienna</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('edinburgh.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Edinburgh</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('bari.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Bari</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

<%# <div id="map" style="width: 100%; height: 300px;"></div>%>
<div id="map" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<div class="footer">
  <div class="co">Location Finder co.
  </div>
  <div class="footer-copyright">This website was coded with
      <i class="fas fa-heart"></i>
       at Le Wagon
    </div>
</div>
