<body>
  <div class="header">
    <h1> Locations </h1>
  </div>

<%# <div class="main-content">
  <div class="listing-card">
    <img src="<%= asset_path('location-1.jpg') %><%#" alt="image of location">
  </div>
  <div class="location-details">
    <div class="location-title">Cool Spot</div>
    <div class="location-description">bla bla bla</div>
  </div>
</div> %>

    <div class="main-content">
        <div class="row g-4 align-items-stretch">

            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-1.jpg') %>" alt="Image of Location 1" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 1" data-turbo-frame="_top" href="/location-1">Location 1</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Dec 4, 2023</span></p>
                    </div>
                </div>
            </div>


            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-2.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 2</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-3.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 3</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-5.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 4</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                <div class="main-content">
        <div class="row g-4 align-items-stretch">
            <!-- Location 1 -->
            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-6.jpg') %>" alt="Image of Location 1" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 1" data-turbo-frame="_top" href="/location-1">Location 5</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Dec 4, 2023</span></p>
                    </div>
                </div>
            </div>


            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-7.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 6</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-8.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 7</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-9.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 8</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>
                <div class="main-content">
        <div class="row g-4 align-items-stretch">
            <!-- Location 1 -->
            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-11.jpg') %>" alt="Image of Location 1" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 1" data-turbo-frame="_top" href="/location-1">Location 9</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Dec 4, 2023</span></p>
                    </div>
                </div>
            </div>


            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-12.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 10</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-13.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 11</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-14.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 12</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>
                <div class="main-content">
        <div class="row g-4 align-items-stretch">
            <!-- Location 1 -->
            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-16.jpg') %>" alt="Image of Location 1" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 1" data-turbo-frame="_top" href="/location-1">Location 13</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Dec 4, 2023</span></p>
                    </div>
                </div>
            </div>


            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-17.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover my-custom-class">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 14</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-18.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover campus-card-thumbnail">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 15</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-19.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover campus-card-thumbnail">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 16</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                    <div class="row g-4 align-items-stretch">

            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-21.jpg') %>" alt="Image of Location 1" class="w-100 rounded-top-1 object-fit-cover campus-card-thumbnail">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 1" data-turbo-frame="_top" href="/location-1">Location 18</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Dec 4, 2023</span></p>
                    </div>
                </div>
            </div>


            <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-22.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover campus-card-thumbnail">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 19</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-23.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover campus-card-thumbnail">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 20</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

                        <div class="col-6 col-lg-3">
                <div class="card border-0 shadow rounded-top-1 h-100 position-relative">
                    <img src="<%= asset_path('location-24.jpg') %>" alt="Image of Location 2" class="w-100 rounded-top-1 object-fit-cover campus-card-thumbnail">
                    <div class="card-body px-14 px-md-24 py-2 py-md-16">
                        <a class="mb-0 fw-bold fs-14 fs-md-18 text-black text-decoration-none stretched-link" aria-label="Location 2" data-turbo-frame="_top" href="/location-2">Location 21</a><span class="ms-2 fs-14 fs-md-18"></span>
                        <p class="fs-12 mb-1 opacity-60">Next session: <span class="fw-600">Jan 15, 2024</span></p>
                    </div>
                </div>
            </div>

</body>
</html>
