<div class="title-flex">
  <h1><%= @location.name%></h1>
    <%= link_to location_path(@location), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
      <i class="fa-solid fa-trash-can fa-2xl trashcan" style="color: #ffffff;"></i>
    <% end %>
</div>

<div class="main-flex">
  <div>
    <img class="title-image" src="<%= asset_path(@location.image_url) %>">
  </div>

  <div class="description-booking">
      <ul class="description">
        <li><strong><%= @location.description %></strong></li>
        <li><i class="fa-solid fa-city" style="color: #000000;"> </i> <%= @location.city %></li>
        <li><i class="fa-solid fa-location-dot" style="color: #000000;"></i> <%= @location.address %></li>
        <li><i class="fa-solid fa-house" style="color: #000000;"> </i><%= @location.style %></li>
        <li><i class="fa-solid fa-door-open" style="color: #000000;"> </i><%= @location.rooms %></li>
        <li><i class="fa-solid fa-euro-sign" style="color: #000000;"> </i></i><%= @location.cost_per_day %></li>
        <li><i class="fa-solid fa-tree" style="color: #000000;"> </i><%= @location.outdoor_space? ? "Yes" : "No" %></li>
      </ul>

        <h2>New Booking</h2>
          <%= simple_form_for [@location, @booking] do |f| %>
            <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :offer %>
            <%= f.submit 'Request Booking', class: "btn" %>
          <% end %>
  </div>
</div>
