
<h1><%= @location.name%></h1>
<img id="Main Image" src="<%= asset_path(@location.image_url) %>">
<div>
<ul>
  <li>Description:<%= @location.description %></li>
  <li>City: <%= @location.city %></li>
  <li>Address:<%= @location.address %></li>
  <li>Style: <%= @location.style %></li>
  <li>Rooms: <%= @location.rooms %></li>
  <li>Cost Per Day: <%= @location.cost_per_day %></li>
  <li>Outdoor Space: <%= @location.outdoor_space? ? "Yes" : "No" %></li>
</ul>
</div>

<div>
<h1>New Booking</h1>
  <%= simple_form_for [@location, @booking] do |f| %>
    <%= f.input :start_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { controller: "datepicker" } } %>
    <%= f.input :offer %>
    <%= f.submit 'Request Booking', class: "btn btn-primary" %>
  <% end %>
</div>

<%= link_to "Delete", location_path(@location), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }%>
